{% extends "layout.html" %}
{% block content %}
    <div class="container d-flex flex-column px-3 justify-content-center align-items-center w-50 h-100 about-us">
        <div class="text-center">
            <h1>Curabitur semper arcu ut viverra convallis.</h1>
            <p class="lead">Morbi vel consectetur ligula. Curabitur lectus turpis, consequat vel lacus ac, gravida congue mauris. Curabitur mattis tempus nisl, vel interdum magna ullamcorper vitae. Vestibulum enim magna, cursus sit amet maximus nec, scelerisque et lectus. Aliquam erat volutpat. Nunc a mauris non sapien rutrum porta id vitae erat. Donec viverra nisi aliquet tellus dictum ultrices sed nec nibh. Aliquam elementum nisi id urna ullamcorper, ac suscipit sem eleifend. Suspendisse pretium sagittis quam, a ultricies sem consectetur non. Suspendisse viverra tortor ac luctus scelerisque.</p>
        </div>
    </div>
{% endblock %}
